.filter-panel {
    --clr-filter-panel-background: #fff;
    --clr-filter-button-color: #93928f;
    --clr-filter-button-hover: #efefef;
    --clr-filter-button-active: #dfdfde;
    --clr-filter-border: #e2e2e2;
    --clr-filter-text-background: #f7f7f5;
    --clr-filter-text-border: #e0e0de;
    --clr-filter-text-placeholder: #afafac;
    --clr-filter-text-focus-border: #7fb5eb;
    --clr-filter-text-focus-outline: #b2d4f5;
    --clr-filter-separate: #ededec;
    --clr-filter-item-label: #37352f;
    --clr-filter-text-advanced: #777672;
    position: relative;
}


.filter-panel-button {
    border: none;
    padding: 3px 10px;
    color: var(--clr-filter-button-color);
    background-color: var(--clr-filter-panel-background);
    display: inline;
}

.filter-panel-button:hover {
    cursor: pointer;
    background-color: var(--clr-filter-button-hover);
    border-radius: 5px;
}

.filter-panel-button:active {
    background-color: var(--clr-filter-button-active);
}

.filter-panel .filter-options {
    margin: 5px;
}

.filter-panel .filter-options .noResults {
    color: var(--clr-filter-text-placeholder);
    font-size: 0.8rem;
    margin: inherit
}

.filter-panel .filter-separate {
    border-bottom: 1px solid var(--clr-filter-separate);
}

.filter-panel .filter-advanced {
    color: var(--clr-filter-text-advanced);
    margin: 5px 5px 0px 5px
}