.filter-panel {
    --clr-filter-panel-background: #fff;
    --clr-filter-button-text-color: #93928f;
    --clr-filter-button-icon-color: #afaeac;
    --clr-filter-button-hover: #efefef;
    --clr-filter-button-active: #dfdfde;
    --clr-filter-border: #e2e2e2;
    --clr-filter-text-background: #f7f7f5;
    --clr-filter-text-border: #e0e0de;
    --clr-filter-text-placeholder: #afafac;
    --clr-filter-text-focus-border: #7fb5eb;
    --clr-filter-text-focus-outline: #b2d4f5;
    --clr-filter-separate: #ededec;
    --clr-filter-item-label: #37352f;
    --clr-filter-text-advanced: #777672;
    --clr-filter-button-border: #d1d1d0;
    --clr-filter-rounded-button-text-color: #777672;
    --clr-filter-rounded-button-icon-color: #9c9798;
    position: relative;
}

.filter-panel .filter-options {
    margin: 5px;
}

.filter-panel .filter-options .noResults {
    color: var(--clr-filter-text-placeholder);
    font-size: 0.8rem;
    margin: inherit
}

.filter-panel .filter-separate {
    border-bottom: 1px solid var(--clr-filter-separate);
}

.filter-panel .filter-advanced {
    color: var(--clr-filter-text-advanced);
    margin: 5px 5px 0px 5px
}

.filter-panel .filter-panel-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}